<!DOCTYPE html>
<html>
    <form method="post">
        username:<br>
       <input type="text" name="username">
       <br>
        password:<br>
       <input type="password" name="authcode">
       <br>
       <input type="submit" value="Login">
    </form>

    <a href="/user/register">没有用户?点击注册</a>
</html>