<!DOCTYPE html>
<html>
    <form method="post">
        username:<br>
       <input type="text" name="username">
       <br>
        password:<br>
       <input type="password" name="password">
       <br>
       <input type="submit" value="Register">
    </form>

    <a href="/user/login">已有账户?点击登录</a>
</html>